/* Container do header */
.cabecalho {
    border-bottom: 3px solid;
    background-color: var(--cor--fundo--preto);
    border-image: linear-gradient(to right, #FF8000, #BD5E00) 1;
}



/* === ACESSIBILIDADE === */
.cabecalho__acessibilidade{
    padding: 0.3rem;
    background-color: #252525;
}

.cabecalho__acessibilidade img{
    width: 1.5rem;
    height: 1.5rem;
}



/* === NAVBAR === */
.cabecalho__logo{
    width: 10rem;
}

.cabecalho__link:hover{
    color: #FF8000 !important;
}

.cabecalho__icone{
    width: 1.8rem;
    height: 1.8rem;
}

.navbar-toggler{
    filter: invert(1);
}



/* Retirar visibilidade do link da menu bar quando estiver na tela do desktop*/
@media (min-width: 992px) {
    #navbarSupportedContent {
        display: none !important;
    }
}