/* === CLASSES GERAIS === */
.logo{
    width: 70%;
}

.fundo__form {
    background-size: cover;
    background-repeat: no-repeat;
    background: url(../../img/forms/fundo_login.svg);
}



/* === BOTÕES === */
.botao__login__externo{
    border-radius: 50px !important;
    border: 2px solid rgb(255, 255, 255) !important;
}

.botao__login__externo img{
    width: 2rem;
    margin-right: 1rem;
}

.botao__cadastrar{
    border-color: var(--laranja--detalhes) !important;
}

.botao__cadastrar:hover{
    background-color: var(--laranja--detalhes) !important;
}

.captcha{
    width: 100%;
    flex: 1 1 8rem;
    min-width: 8rem;
    max-width: 15rem;
}