/* === BANNER DE PERSONALIZAÇÃO === */
.personalizacao {
    background-size: cover;
    background-image: url(../../img/home/personalizacao.svg);
}

/* .personalizacao__banner__imagem{
    height: auto;
    max-width: 100%;
} */
