/* Variáveis padrão de cores */
:root{
    --cor--fundo--branco: #F2FAFF;
    --cor--fundo--preto: #343434;
    --cor-texto--branco: #FAFAFA;
    --laranja--detalhes: #FF8000;
    --cinza--textos: rgb(80, 80, 80);
}

/* Importando a fonte OpenDyslexic */
@font-face {
    font-family: 'OpenDyslexic';
    src: url(../../fonts/opendyslexic-0.92/OpenDyslexic-Regular.otf);
}

/* Garantir herança da troca de fonte em todos os elementos */
*, *::before, *::after {
    font-family: inherit;
}

/* Aplicar fundo preto a todo o site */
body{
    background-color: var(--cor--fundo--preto);
}

/* Define a cor do texto de laranja */
.texto__laranja {
    color: #FF6200;
}

/* Define a cor do texto de cinza */
.texto__cinza {
    color: #B5B5B5;
}

/* Tira a margem de baixo do elemento */
.margin__bottom__zero {
    margin-bottom: 0;
}

/* Tira a margem de cima do elemento */
.margin__top__zero {
    margin-top: 0;
}

.divisoria__bottom {
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, #FF8000, #BD5E00) 1;
}

/* Título dos cards */
.cards__titulo {
    color: #FFFFFF;
    font-size: 2.5rem;
}



/* === CARDS === */
.cards:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.card__imagem{
    width: 100%;
    height: auto;
}




/* === MENSAGEM DE ERRO PARA VERIFICAÇÕES JS === */
.erro{
    font-size: 1rem;
    color: rgb(255, 43, 43);
}

