/* === CLASSES GERAIS === */
:root{
    --cor--fundo--branco: #F2FAFF;
    --cor--fundo--preto: #343434;
    --cor-texto--branco: #FAFAFA;
    --laranja--detalhes: #FF8000;
    --cinza--textos: rgb(80, 80, 80);
}

/* Importando a fonte OpenDyslexic */
@font-face {
    font-family: 'OpenDyslexic';
    src: url(../../fonts/opendyslexic-0.92/OpenDyslexic-Regular.otf);
}

/* Garantindo a herança da troca de fonte em todos os elementos */
*, *::before, *::after {
    font-family: inherit;
}

body{
    background-color: var(--cor--fundo--preto);
}

.divisoria__bottom {
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, #FF8000, #BD5E00) 1;
}

.fundo__escuro {
    background-color: var(--cor--fundo--preto);
}



/* === CARDS === */
.card{
    box-shadow: 0px 0px 10px 1px rgb(0, 0, 0);
}

.card a{
    text-decoration: none;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.card__imagem{
    max-width: 100%;
    object-fit: cover;
}

.card__preco{
    font-size: 1.5rem;
}

.card__titulo{
    font-size: 1rem;
}

.card__parcela{
    font-size: 0.8rem;
}

.swiper-button-next,
.swiper-button-prev{
    --swiper-navigation-color: var(--laranja--detalhes);
    --swiper-navigation-size: 30px;
    top: 57% !important;
    font-weight: bold;    
}



/* === MENSAGEM DE ERRO PARA VERIFICAÇÕES JS === */
.erro{
    text-align: left;
    font-size: 0.9rem;
    color: rgb(255, 0, 0);
}