/* === INFORMAÇÔES PERFIL === */
.foto__perfil {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 20px rgba(67, 67, 67, 0.3);
}

.sombra__card {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.122);
}



/* === FORMULÁRIO === */
#form_editar_perfil label,
#form_editar_endereco label{
    color: #666;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.form-control:disabled {
    color: #444;
    cursor: default;
    font-size: 0.93rem;
}



/* === FOTO DE PERFIL NO MOBILE === */
@media (max-width: 450px) {
    .foto__perfil {
        width: 150px;
        height: 150px;
    }
}