/* LAYOUT */
.secao__carrinho {
    padding: 3rem;
    background-color: #F2FAFF;
    display: flex;
    gap: 4rem;
    align-items: flex-start;
}

.secao__carrinho__bloco__tabela {
    width: 300%;  
}

/* TABELA */
.carrinho__titulo {
    font-size: 2rem;
    margin: 0.5rem 0;
    border-bottom: solid 0.1rem #747474;
}

.carrinho__titulo__preco {
    font-size: 3rem;
    
}

.carrinho__tabela {
    width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.carrinho__tabela th {
    background-color: #ff8000;
    padding: 1rem;
    font-size: 1.2rem;
}

.carrinho__tabela td {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #ddd;
}

/* PRODUTO */
.carrinho__tabela__informacoes__descricao {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.carrinho__tabela__informacoes__descricao img {
    width: 5rem;
}

/* QUANTIDADE */
.carrinho__tabela__informacoes__quantidade {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.numero {
    border: 2px solid #ccc;
    padding: 0.5rem 1rem;
    border-radius: 0.675rem;
}

.btn__menos,
.btn__mais {
    border: 2px solid #ccc;
    background: transparent;
    font-size: 1.5rem;
    padding: 0.3rem 0.8rem;
    cursor: pointer;
    border-radius: 0.675rem;
}

.btn__menos:hover {
    background: #ff4d4d;
}

.btn__mais:hover {
    background: #4dff4d;
}

/* REMOVER */
.carrinho__tabela__informacoes__remover {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
    font-size: 0.9rem;
}

/* LATERAL */
.secao__carrinho__bloco__informacoes {
    width: 100%;
}

/* BOTÃO COMPRA */
.btn__compra {
    width: 100%;
    background: #ff8000;
    color: white;
    border: none;
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 0.675rem;
    margin-bottom: 1rem;
}

/* CEP */
.cep {
    width: 150%;
    height: 2.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #ccc;
}

.btn__frete {
    background-color: #000000;
    color: white;
    border: solid 0.2rem #FF8000;
    border-radius: 0.5rem;
    width: 30%;
    height: 2.5rem;
    cursor: pointer;
}

/* REMOVIDOS */
.removidos {
    margin-top: 2rem;
}

.removidos__titulo {
    font-size: 1.5rem;
    margin: 0;
    background-color: #ff8000;
    text-align: center;
    padding: 0.3rem;
}   

.removidos__itens {
    background-color: white;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.removidos__itens__item {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem 0;
}

.removidos__itens__item img {
    width: 3rem;
}

.secao__carrinho__bloco__informacoes__frete {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10rem;
}

.informe__cep {
    font-size: 1.2rem;
    margin-bottom: 0;
}