/* Classe padrão para aplicar display flex horizontal*/
.flex{
    display: flex;
}

/* Classe padrão para aplicar display flex horizontal e em coluna */
.flex__col{
    display: flex;
    flex-direction: column;
}

/* Classe padrão para aplicar display flex horizontal com espaçamento nas bordas */
.flex__between{
    display: flex;
    justify-content: space-between;
}

/* Seção com imagens do produto e ações de compra */
.produto {
    width: 100%;
    background-color: white;
}

/* Div com os elementos da seção produtos */
.produto__container {
    gap: 2rem;
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    padding: 1rem 2rem;
    align-items: center;
}

/* Div das imagens do produto alinhadas à esquerda*/
.produto__imagens{
    flex: 0.2;
    gap: 1rem;
    display: flex;
    flex-direction: column;     
}

/* Estilização de tamanho das imagens para não haver quebra de layout */
.produto__imagem, .produto__principal__imagem{
    height: auto;
    max-width: 100%;
}

/* Estilização da div da imagem principal do produto, para não haver quebra de layout */
.produto__principal{
    flex: 1;
}

/* Container com as ações para compra do produto */
.produto__compra{
    flex: 0.6;
    height: auto;
    display: flex;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
}

/* Estilização do nome do produto em h1*/
.produto__compra__titulo{
    margin: 0;
    padding: 0;
}

/* Alinhas a div da avaliação à esquerda */
.produto__compra__avaliacao{
    justify-content: left;
}

/* Alinhas informações sobre a loja do produto em coluna */
.produto__compra__loja__infos{
    flex-direction: column;
}


/* Seção que contém a descrição e avaliações do produto */
.descricao{
    width: 100%;
    padding: 1rem 0;
    background: white;
    justify-content: space-around;
    border-top: 3px solid orange;
}

/* Estilização do tamanho da área de descricção e de avaliação */
.descricao__produto, .descricao__avaliacoes{
    width: 40%;
    overflow: hidden;
    max-height: 300px;
    overflow-y: scroll;
}

/* Estilização do tamanho do scroll de Descrições e de Avaliações*/
.scroll::-webkit-scrollbar{
    width: 4px;
}

/* Estilização do trilho do scroll*/
.scroll::-webkit-scrollbar-track{
    border-radius: 10px;
    background: rgb(240, 240, 240);
}

/* Estilização da "maçaneta" do scroll*/
.scroll::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: orange;
}

/* Estilização da "maçaneta" do scroll quando cursos por cima*/
.scroll::-webkit-scrollbar-thumb:hover{
    background: rgb(255, 194, 82);
}