.produto {
    width: 100%;
    background-color: white;
}

.produto__container {
    gap: 2rem;
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    padding: 3rem 2rem;
    align-items: center;
}

.produto__imagens{
    gap: 1rem;
    display: flex;
    flex: 0.2;
    flex-direction: column;     
}

.produto__imagem, .produto__principal__imagem{
    height: auto;
    max-width: 100%;
}

.produto__principal{
    flex: 1;
}

.produto__compra{
    flex: 1;
    height: auto;
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}

.teste{
    max-width: 100%;
    height: auto;
}