/* Define as variáveis utilizadas */
:root {
    --cor-texto--branco: #FAFAFA;
}

/* Utiliza flexbox, coloca eles em direção de coluna e alinha os elementos no container */
.rodape {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 3px solid;
    border-image: linear-gradient(to right, #FF8000, #BD5E00) 1;
}

/* Utiliza flexbox, cria um espaçamento com "space-around", aumenta o espaçamento entre os elementos com gap, e coloca um padding */
.rodape__informacoes {
    display: flex;
    justify-content: space-around;
    padding: 1.875rem;
    gap: 3rem;
    flex-wrap: wrap;
}

/* Utiliza flexbox, coloca eles em direção de coluna, e alinha o texto no centro, e os elementos no container */
.rodape__informacoes__container__um {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Define um tamanho de fonte, e define uma margem de tamanho de 1rem no topo, e retira de todos os outros lados */
.rodape__informacoes__container__um__logo {
    font-size: 5rem;
    margin: 1rem 0 0 0;
}

/* Define o tamanho da fonte, a cor, a largura, cria uma borda abaixo do elemento e tira todas as margens do elemento */
.rodape__informacoes__container__um__redes__sociais__titulo {
    margin-bottom: 1rem;
    color: #FFFFFF;
    font-size: 1.75rem;
    border-bottom: solid 2px #FF8000;
}

/* Utiliza flexbox e cria um espaçamento entre os elementos */
.rodape__informacoes__container__um__redes__sociais__links {
    display: flex;
    gap: 3rem;
}

/* Define a cor do texto e o tamanho da fonte */
.rodape__informacoes__container__dois__titulo, .rodape__informacoes__container__tres__titulo, .rodape__informacoes__container__quatro__titulo, .rodape__informacoes__container__cinco__titulo {
    color: var(--cor-texto--branco);
    font-size: 2.5rem;
}

/* Define a cor e tamanho da fonte, e deixa ela em negrito */
.rodape__informacoes__container__dois__emails, .rodape__informacoes__container__dois__telefones, .rodape__informacoes__container__tres__endereco {
    color: var(--cor-texto--branco);
    font-size: 1rem;
    font-weight: bold;
}

/* Define uma largura para o container de endereço */
.rodape__informacoes__container__tres {
    max-width: 14.5rem;
}

/* Container dos links rápidos da página, utiliza flebox, coloca eles na direção de coluna e cria um espaçamento entre eles */
.rodape__informacoes__container__quatro__links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

/* Links do container de links rápidos, define a cor do texto, o tamanho, deixa em negrito, tira a decoração de link e define uma largura */
.rodape__informacoes__container__quatro__links__link {
    color: var(--cor-texto--branco);
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    width: 10rem;
}

/* Ao passar o mouse em cima, ficará sublinhado */
.rodape__informacoes__container__quatro__links__link:hover {
    text-decoration: underline;
}

/* Links com larguras máximas específicas, para não quebrar layout */
.texto__width1 {
    width: auto;
}

.texto__width2 {
    width: auto;
}

.texto__width3 {
    width: auto;
}

/* Container de meios de pagamento, coloca a largura do container */
.rodape__informacoes__container__cinco {
    max-width: 22rem;
}

/* Aviso sobre os meios de pagamento, define a cor, tamanho, e deixa a fonte em negrito */
.rodape__informacoes__container__cinco__aviso {
    color: var(--cor-texto--branco);
    font-size: 0.875rem;
    font-weight: bold;
}

/* Ícones dos meios de pagamento, utiliza flexbox, cria uma margem no topo, e define um espaçamento entre os ícones */
.rodape__informacoes__container__cinco__meios__de__pagamento {
    display: flex;
    gap: 3rem;
    margin-top: 1rem;
}

/* Container de direitos autorais, cria uma borda no topo do container, tem largura de apenas 80% do container inteiro, alinha o texto no centro e define um padding de 1rem */
.rodape__direitos {
    border-top: solid 1px #444444; 
    width: 80%;
    text-align: center;
    padding: 1rem;
}

/* Define a cor do textom e o tamanho */
.rodape__direitos__texto {
    color:  #5e5e5e;
    font-size: 1rem;
}

/* Permitir que haja quebra de linhas, para não quebrar o layout */
.rodape__informacoes__container__tres__endereco p,
.rodape__informacoes__container__cinco__aviso p {
    word-wrap: break-word;
    overflow-wrap: break-word;
}