.cabecalho {
    margin: 0;
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, #FF8000, #BD5E00) 1;
    padding: 0.3rem;
}

.cabecalho__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho__nav__titulo {
    width: 199px;
    height: 54px;
    text-decoration: none;
    font-size: 50px;
}

.cabecalho__nav__input {
    width: 51.5rem;
    height: 2rem;
    background-color: #8f8f8fb8;
    color: #ffffff;
    border-radius: 0.18rem;
    border: none;

}

.cabecalho__nav__links {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.cabecalho__nav__links__link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 0.875rem;
}
