.principal {
    height: 32rem;
    padding: 3.6rem;
    margin: 0.3rem 0;
    background-color: #F2FAFF;
}

.principal__imagem__carrossel {
    width: 100%
}

.novidades {
    border-top: 3px solid;
    border-image: linear-gradient(to right, #FF8000, #BD5E00) 1;
    padding: 5rem;
}

.cards__titulo {
    width: 16.5rem;
    height: 2.7rem;
    font-size: 2rem;
    color: #FFFFFF;
}

.cards__estrela {
flex-direction: end;
}