:root {
    --cor--fundo--branco: #F2FAFF;
}


.principal {
    height: 32rem;
    padding: 3.6rem;
    margin: 0.3rem 0;
    background-color: var(--cor--fundo--branco);
}

.principal__imagem__carrossel {
    width: 100%
}

.novidades {
    border-top: 3px solid;
    border-image: linear-gradient(to right, #FF8000, #BD5E00) 1;
    padding: 5rem;
}

.cards__titulo {
    width: 16.5rem;
    height: 2.7rem;
    font-size: 2rem;
    color: #FFFFFF;
}

.cards {
    background-color: var(--cor--fundo--branco);
    width: 13.5rem;
    height: 20,0625rem;
    padding: 0.4rem;
    border-radius: 0.25rem;
    text-align: center;
}

.cards__estrela {
    text-align: end;
}

.cards__precos {
    display: flex;
    justify-content: space-between;
}

.cards__subtitulo {
    font-size: 1,5rem;
}
