/* Define a cor de fundo do body, e tira todas as margens */
body {
    background-color: #343434;
    margin: 0
}

/* Define a cor do texto de laranja */
.texto__laranja {
    color: #FF6200;
}

/* Define a cor do texto de cinza */
.texto__cinza {
    color: #B5B5B5;
}

/* Tira a margem de baixo do elemento */
.margin__bottom__zero {
    margin-bottom: 0;
}

/* Tira a margem de cima do elemento */
.margin__top__zero {
    margin-top: 0;
}