/* === SEÇÃO DE COMPRAS DO PRODUTO === */
.produto__info {
    width: 350px;
}

/* IMAGENS */
.produto__imagem__principal {
    height: 450px;
}

.produto__imagem__principal img {
    height: 100%;
    object-fit: cover;
}

.selecionada {
    border: 2px solid;
    border-color: var(--laranja--detalhes) !important;
}



/* === SEÇÃO DESCRICÃO/AVALIAÇÕES === */
/* Permitir que haja rolagem vertical */
.rolagem{
    overflow: hidden;
    max-height: 300px;
    overflow-y: scroll;
}



/* === AVALIAÇÃO === */
.avaliacao{
    max-height: 90px;
    overflow: hidden;
}

.avaliacao__foto{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 3px;
}

.avaliacao__nota{
    font-size: 0.9rem;
    color: var(--cinza--textos);
}

.avaliacao__nota img{
    width: 1rem;
    height: 1rem;
    transform: translateY(-13%);
}



/* === SCROLL BAR DESCRIÇÃO/AVALIAÇÃO === */
/* Estilização do tamanho do scroll de Descrições e de Avaliações*/
.scroll::-webkit-scrollbar{
    width: 4px;
}

/* Estilização do trilho do scroll*/
.scroll::-webkit-scrollbar-track{
    border-radius: 10px;
}

/* Estilização da "maçaneta" do scroll*/
.scroll::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: var(--laranja--detalhes);
}

/* Estilização da "maçaneta" do scroll quando cursos por cima*/
.scroll::-webkit-scrollbar-thumb:hover{
    background: rgb(255, 194, 82);
}



/* Media querie para desktop */
@media (min-width: 768px){
    .produto__imagens {
        direction: rtl;
        max-height: 450px;
        overflow-y: scroll;
        width: 100px !important;
        flex-direction: column !important;
    }

    .produto__imagem {
        cursor: pointer;
    }
}

/* Media querie para mobile */
@media (max-width: 767px) {
    .produto__imagens {
        overflow-x: auto;
        flex-direction: row;
    }

    .produto__imagem {
        width: 70px;
        height: 70px;
        flex-shrink: 0;
        cursor: pointer;
        object-fit: cover;
    }

    .scroll::-webkit-scrollbar{
        display: none;
    }

    .produto__info {
        width: 100%;
    }
}